<a href="https://colab.research.google.com/github/ElenaKharitonova/Chat_Bot_2024/blob/main/%D0%94%D0%B7_%D1%81%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%80_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1

###1.1

In [19]:
def total_fruits(**kwargs) -> int:
  sum_f = 0
  for fruit, count in kwargs.items():
    sum_f +=count
  return sum_f
print(total_fruits(banana = 5, mango = 7, apple = 8))

20

## Задание 2

###2.1

In [18]:
def filtr_expenses(list1: list)->list:
  result_list = [value for value in list1 if value >= 0]
  sum_expenses = sum(result_list)
  return f"Отфильтрованный список: {result_list}  Суммарные затраты = {sum_expenses}"
print(filtr_expenses([100,125,-90,345,655,-1,0,200]))

Отфильтрованный список: [100, 125, 345, 655, 0, 200]  Суммарные затраты = 1425

## Задание 3

###3.1

In [30]:
def november_revenue(dates: list, revenues: list) -> int:
  nov_rev = sum([revenues[i] for i in range(len(dates)) if dates[i][5:7] == '11'])
  return nov_rev
print("Выручка в ноябре: ")
print(november_revenue(['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',
         '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
         '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
         '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
         '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09'], [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037,
            4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008,
            316, 6333, 5700, 2887]))

Выручка в ноябре:
25098

##3.2

In [31]:
def revenue_by_month(dates: list, revenues: list) -> dict:
    revenue_dict = {}

    for i in range(len(dates)):
        month = dates[i][5:7]
        if month in revenue_dict:
            revenue_dict[month] += revenues[i]
        else:
            revenue_dict[month] = revenues[i]

    return revenue_dict

print(revenue_by_month(['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',
         '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
         '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
         '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
         '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09'], [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037,
            4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008,
            316, 6333, 5700, 2887]))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}